**/*~
**/*.pyc
.idea
.DS_Store
.vscode
build/
nbproject/
/resources/log4cplus-1.1.1/include/log4cplus/config/defines.hxx.cmake
/resources/log4cplus-1.1.1/include/log4cplus/config/defines.hxx
**/config.h
**/CompileInfo.cpp
/src/carl/config.h
CMakeCache.txt
CMakeFiles/cmake.check_cache